body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/5b/fd/91/5bfd9184ba1cd77c5d8e9999ff5c9750.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.padding {
  margin-top: 25px;
}

.button {
  margin-top: 400px;
}

.accordion {
  opacity: 0.9;
}

h5 {
  text-decoration: underline;
  color: red;
}
